<div class="row">
  <div class="col-md-12">
    <div>
      <h3>Update Post</h3>
      <hr />
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="title-input">Title</label>
          <input
            type="text"
            id="title-input"
            name="title"
            class="form-control"
            formControlName="title" />
          <small class="text-danger"
            *ngIf="
              postForm.controls['title'].touched &&
              !postForm.controls['title'].valid
            ">
            {{ showTitleErrors() }}
          </small>
        </div>
        <div class="mb-3">
          <label for="description-textarea">Description</label>
          <textarea
            name="description"
            id="description-textarea"
            class="form-control"
            formControlName="description"></textarea>
          <small class="text-danger"
            *ngIf="
              postForm.controls['title'].touched &&
              !postForm.controls['title'].valid
            ">
            {{ showDescriptionErrors() }}
          </small>
          <div class="my-3">
            <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Update Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
